.container {
  max-width: 1140px;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .row {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .lessons .col,
  .steps .col,
  .why-us .col {
    width: 100%;
    margin: 50px 0;
  }

  .why-us {
    background-color: hsl(0deg 0% 13.33%);
    margin: -3rem 0;
    padding: 3rem 0;
  }
}
